@import '../../../core/assets/css/challenge-board.css';

#challenge-window .form-control {
    position: relative;
    display: block;
    padding: 0.8em;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
}
